#include <stdio.h>
#include <string.h>

int main()
{
    char myString[100];
    int a[10],i;
    
    printf("enter a word\n");
    scanf("%s" , myString);

    int l = strlen(myString);

    for(int j = 0; j < l; j++)
    {
        int d = myString[j];
        //printf("%d" , d); //the decimal value of the string
        for(i = 0; d > 0; i++)
    {
        a[i] = d % 2;
        d = d / 2;
    }
    for(i = i - 1; i >= 0; i--)
        {
        printf("%d" , a[i]); //the binary value of the string
        }
        printf("\n");
    }
    return 0;
}

